<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a aria-current="page" href="/"> Home </a>
                <a href="/planet?planetName=Earth"> Earth </a>
                <a href="/planet?planetName=Mars"> Mars </a>
                <a href="/planet?planetName=Jupiter"> Jupiter </a>
                <a href="/planet?planetName=Saturn"> Saturn </a>
                <a href="/planet?planetName=Uranus"> Uranus </a>
                <a href="/planet?planetName=Neptune"> Neptune </a>
                <a href="/planet?planetName=Pluto"> Pluto </a>
            </div>
        </div>
</nav>