<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Solar System</title>
</head>

<body>
    <h1>The Solar System</h1>
    <nav><a href="/"> Home </a>
        <a href="/earth"> Earth </a>
    </nav>
    <h2>Planet Earth</h2>
    <p>Desc: <%= planetEarth.description %></p>
    <p>Radius: <%= planetEarth.radius %></p>
    <p>Distance from Sun: <%= planetEarth.distanceFromSun %></p>
    <img src="<%= planetEarth.image %>">
</body>

</html>