<!DOCTYPE html>
<html>
    <!-- https://www.figma.com/color-palette-generator/?colors=7A3869-82EAED-BCD3BB-245610 -->
     
<%- include('partials/head.ejs') %>
    <body class="d-flex flex-column vh-100">
        <%- include('partials/nav.ejs') %>
        <div class="align-items-center d-flex flex-column">
            <div class="container">
                    <style>
                        body {
                            background-image: url("<%= image %>");
                            background-size: cover;
                        }
                    </style>
                    <h1>The Solar System</h1>
                    <img src="/img/solar-system.jpg" class="home-img img-fluid">
            </div>
        </div>

        <%- include('partials/footer.ejs') %>
    </body>

</html>