<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Solar System</title>
</head>
<body>
    <h1>The Solar System</h1>
     <nav><a href="/"> Home </a> 
         <a href="/earth"> Earth </a>
         <a href="/mars"> Mars </a>
    </nav>
    <h2>Planet Mars</h2>
    <p>Desc: <%= mars.description %></p>
    <p>Radius: <%= mars.radius %></p>
    <p>Distance from Sun: <%= mars.distanceFromSun %></p>
    <img src="<%= mars.image %>">
</body>
</html>
